@import './reset.css';
@import './style.css';
@import './vars.css';

@custom-selector :--aligncenter .mission__detail__description, .mission__detail__title, .mission__detail__date, .mission__planet__info, .mission__supplies__title ;
@custom-selector :--deletebuttons .delete__ship__button, .delete__supply__button;
@custom-selector :--marginchange .mission__section, .mission__detail__header__container, .mission__detail__navigation__wrapper, .ships__supplies__container;
@custom-selector :--doublesections .section__ship, .section__supply;

.notfound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: var(--fontBody);
  font-size: 1.8rem;
}

.mission__detail__content {
  font-family: var(--fontBody);
}

.mission__detail__header__container {
  padding: 1rem;
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.planet__picture {
  border: .2rem solid var(--colorCyan);
}

.planet__picture__container {
  display: flex;
  justify-content: center;
}

:--aligncenter {
  text-align: center;
}

.mission__detail__description {
  text-align: center;
  height: 5rem;
  overflow: auto;
  margin-right: 3rem;
}

.mission__planet__info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.mission__planet__coordinates {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin: 0 4rem;
  width: 15rem;
}

.errorsupply {
  padding-top: .5rem;
}

.mission__section {
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin-top: 4rem;
}

.section__ship {
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin-top: 4rem;
}

.section__supply {
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin-top: 4rem;
}

.mission__detail__title {
  font-size: 1.2rem;
  font-family: var(--fontTitle);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.supply {
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem .5rem 1rem 1rem;
}

.supply__innercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supply__name {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  overflow: hidden;
}

:--deletebuttons {
  color: cyan;
  font-style: bold;
  font-size: 1.5rem;
  background-color: rgba(6, 253, 253, .1);
  border: .2rem solid var(--colorCyan);
  font-family: var(--fontTitle);
  padding: .1rem;
  line-height: .8;
}

:--deletebuttons:hover {
  color: white;
  border: .2rem solid white;
  cursor: pointer;
}

:--deletebuttons:active {
  background-color: rgba(255, 255, 255, .4);
}

.mission__detail__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: .5rem;
}

.detail__nav__button {
  color: var(--colorCyan);
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  padding: .5rem;
  width: 100%;
  font-family: var(--fontTitle);
}

.detail__nav__button:hover {
  color: white;
  border: .2rem solid white;
  cursor: pointer;
}

.detail__nav__button:active {
  background-color: rgba(255, 255, 255, .4);
}

.addsupply__title {
  font-family: var(--fontTitle);
  text-align: center;
  margin-top: 1rem;
}

.addsupply__container {
  border-top: .2rem solid var(--colorCyan);
  display: flex;
  flex-direction: column;
}

.supplyname {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  justify-content: center;
  background-color: rgba(108, 255, 255, .2);
  width: 80%;
  margin-top: 1rem;
}

.commentname {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  justify-content: center;
  background-color: rgba(108, 255, 255, .2);
  width: 80%;
  margin-top: 1rem;
}

.supplyname__container {
  display: flex;
  justify-content: center;
}

.supplyamount__container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.supplyamount {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  align-items: center;
  background-color: rgba(108, 255, 255, .2);
}

.supplyamount__title {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.detailsubmit {
  font-family: var(--fontTitle);
  color: var(--ColorCyan);
  background-color: rgba(6, 253, 253, .2);
  border-color: var(--colorCyan);
  cursor: pointer;
}

.detailsubmit:hover {
  color: white;
  border-color: white;
}

.detailsubmit:active {
  background-color: rgba(255, 255, 255, .4);
}

.submit__container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.ship {
  background-color: rgba(6, 253, 253, .2);
  border: .2rem solid var(--colorCyan);
  margin: .2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem .5rem 1rem .4rem;
}

.ship__type__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .2rem;
  margin-left: 1rem;
  width: 8rem;
}

.ship__name {
  font-family: var(--fontTitle);
  font-size: .9rem;
}

.shipamount__container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.shipamount {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  align-items: center;
  background-color: rgba(108, 255, 255, .2);
  width: 2rem;
}

.shipamount__title {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.shipname__container {
  display: flex;
  justify-content: center;
}

.shipselect {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  justify-content: center;
  background-color: rgba(108, 255, 255, .2);
  width: 80%;
  margin-top: 1rem;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: .2rem solid var(--colorCyan);
  margin: .2rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  max-width: 32rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.comment__name {
  border-bottom: .2rem solid var(--colorCyan);
  width: 100%;
  padding: .5rem;
  font-size: 1.2rem;
  font-family: var(--fontTitle);
  background-color: rgba(6, 253, 253, .2);
}

.comment__text {
  padding: 1rem .5rem;
  line-height: 1.3;
  background-color: rgba(6, 253, 253, .1);
}

.comment__myname {
  border-bottom: .2rem solid white;
  color: white;
  width: 100%;
  padding: .5rem;
  font-size: 1.2rem;
  font-family: var(--fontTitle);
  background-color: rgba(239, 243, 243, .2);
  display: flex;
  justify-content: flex-end;
}

.comment__mytext {
  padding: 1rem .5rem;
  line-height: 1.3;
  background-color: rgba(212, 212, 212, .1);
  display: flex;
  justify-content: center;
}

.mycomment {
  color: white;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  border: .2rem solid white;
  margin: .2rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  max-width: 32rem;
  margin-right: 1rem;
}

.addcomment__title {
  font-family: var(--fontTitle);
  text-align: center;
  margin-top: 1rem;
}

.addcomment__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section__comments {
  margin-bottom: 2rem;
}

.comment__addtext {
  width: 80%;
  margin-top: 1rem;
}

.error {
  margin-right: 0;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.details__container {
  overflow-x: hidden;
  height: 14rem;
  width: 100%;
  border-top: .2rem solid var(--colorCyan);
  display: flex;
  flex-direction: column-reverse;
}

.ship__image {
  width: 4rem;
  height: 4rem;
}

.ship__innercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
}

.ship__amount {
  margin-left: .2rem;
  font-family: var(--fontTitle);
  font-size: 1.5rem;
}

.supply__amount {
  margin-left: .2rem;
  font-family: var(--fontTitle);
  font-size: 1.5rem;
  margin-right: .5rem;
}

.delete__ship__button {
  margin-left: 0;
}

.ship__doublecontainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.planet__name {
  font-family: var(--fontTitle);
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.update__title__title {
  text-align: center;
  font-family: var(--fontTitle);
  margin-bottom: 1rem;
}

.updatetext, .updatetitle, .uptitle, .updescription {
  text-align: center;
}

.updescription {
  margin-top: 1rem;
}

.updatetitle__input, .updatetext__input {
  border-color: var(--colorCyan);
  color: cyan;
  display: flex;
  justify-content: center;
  background-color: rgba(108, 255, 255, .2);
  width: 80%;
  margin-top: 1rem;
}

.update__container {
  display: flex;
  justify-content: center;
}

.update__wrapper {
  padding: 1rem;
  background-color: rgba(6, 253, 253, .1);
  border: .2rem solid var(--colorCyan);
  margin-bottom: 1rem;
}

.nothingfound {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 380px) {

  :--marginchange {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 480px) {

  :--marginchange {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 768px) {

  :--marginchange {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media only screen and (min-width: 1024px) {

  :--marginchange {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .errorupdate {
    justify-content: flex-start;
  }

  .ships__supplies__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  :--doublesections {
    width: 100%;
  }

  .section__ship {
    margin-left: 1rem;
  }

  .section__supply {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1440px) {

  :--marginchange {
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .mission__detail__description {
    text-align: left;
  }

  .submitupdate {
    justify-content: flex-start;
  }

  .updatetext, .updatetitle, .uptitle, .updescription, .update__title__title {
    text-align: left;
  }

  .update__container {
    display: flex;
    justify-content: flex-start;
  }

  .mission__detail__header__container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 8rem 1rem 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas: 'picture_detail text_detail' 'picture_detail text-detail' 'picture_detail update' 'planet_detail update';
  }

  .update__wrapper {
    grid-area: update;
    margin-right: 4rem;
  }

  .planet__picture__container {
    grid-area: picture_detail;
    margin-top: 2rem;
  }

  .mission__planet__info {
    grid-area: planet_detail;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .mission__text__container {
    grid-area: text_detail;
    margin-top: 2rem;
  }

  .mission__detail__title__header {
    text-align: left;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .mission__detail__date {
    text-align: left;
    margin-bottom: .5rem;
  }
}

@media only screen and (min-width: 2560px) {

  :--marginchange {
    margin-left: 35rem;
    margin-right: 35rem;
  }
}
