@import './reset.css';
@import './vars.css';
@import './style.css';

.login__content {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.login__title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family: var(--fontTitle);
}

.login__title__container {
  margin-top: 2rem;
  margin-bottom: .7rem;
}

.login__subtitle {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 1.1rem;
}

.login__submit__button {
  font-family: var(--fontTitle);
  color: var(--ColorCyan);
  background-color: rgba(6, 253, 253, .2);
  border-color: var(--colorCyan);
  display: flex;
  margin-top: 2rem;
}

.login__submit__button:hover {
  color: white;
  cursor: pointer;
  border-color: white;
}

.login__submit__button:active {
  background-color: rgba(255, 255, 255, .4);
}

.login__logo {
  width: 3rem;
  height: 3rem;
  margin-top: 3rem;
}

.login__logo__container {
  display: flex;
  justify-content: flex-start;
}

.login__disclaimer__text {
  font-family: var(--fontBody);
  font-size: .8rem;
  line-height: 1.3;
  display: flex;
  align-content: flex-end;
}

.login__disclaimer__container {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.form__login__title {
  font-family: var(--fontBody);
  display: flex;
  margin-top: 2rem;
  padding-bottom: .3rem;
}

.login__input {
  background-color: rgba(240, 255, 255, .2);
  border-color: var(--colorCyan);
  width: 13rem;
  color: white;
}

input::placeholder {
  color: rgba(0, 255, 255, .4);
}

.error__login {
  color: white;
  font-family: var(--fontBody);
  display: flex;
  justify-self: flex-start;
  margin-top: .5rem;
  font-size: .8rem;
}

@media only screen and (min-width: 380px) {

  .login__content {
    margin: 0;
  }

  .error__login {
    display: flex;
    justify-content: center;
  }

  .login__logo {
    width: 4rem;
    height: 4rem;
  }

  .login__logo__container {
    display: flex;
    justify-content: center;
  }

  .login__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .login__subtitle {
    display: flex;
    justify-content: center;
  }

  .form__login__title {
    font-family: var(--fontBody);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: .3rem;
  }

  .login__input {
    width: 20rem;
    margin-right: 0;
  }

  .login__input__container {
    display: flex;
    justify-content: center;
  }

  .login__submit__container {
    display: flex;
    justify-content: center;
  }

  .login__submit__button {
    margin-top: 1.5rem;
  }

  .login__disclaimer__text {
    display: flex;
    justify-content: center;
  }

  .error {
    display: flex;
    justify-content: center;
  }

}
