@import './reset.css';
@import './vars.css';

@font-face {
  font-family: Bodoni;
  src: url(../assets/fonts/BodoniFLF-Roman.woff2) format('woff2');
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: Ramabhadra;
  src: url(../assets/fonts/Ramabhadra-Regular.woff2) format('woff2');
}

@custom-selector :--content .tragedy__title, .tragedy__text, .unthinkable__title, .unthinkable__text, .shadow__text, .italy__title, .italy__text, .righthand__text, .talents__title, .talents__text1, .talents__text2, .footer__text;

:--content {
  margin: 0 1rem;
}

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/* NAV */

.header__nav {
  background-color: black;
}

/* main */

/* INTRO */

.intro__img {
  width: 100%;
}

/* TRAGEDY */

.tragedy__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.tragedy__title span {
  color: var(--colorMagenta);
}

.tragedy__text {
  margin-bottom: 2rem;
}

.tragedy__text span {
  color: var(--colorMagenta);
}

/* UNTHINKABLE */

.reveal__wrapper {
  display: flex;
  justify-content: center;
}

.unthinkable__reveal {
  height: 672px;
  position: relative;
  width: 262px;
}

.unthinkable__reveal img {
  position: absolute;
  height: 25rem;
  display: block;
}

.unthinkable__text p {
  margin-bottom: 4rem;
}

.unthinkable__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.unthinkable__title span {
  color: var(--colorMagenta);
}

/* ITALY */

.black {
  background-color: black;
  color: white;
  padding-top: 2rem;
  margin-top: 2rem;
}

.italy {
  background-image: url(../assets/img/italy_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 15rem;
}

.italy__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.italy__title span {
  color: var(--colorMagenta);
}

.italy__p {
  margin-bottom: 1rem;
}

.italy__p1 {
  margin-bottom: 30rem;
}

/* RIGHT HAND */

.righthand {
  background-image: url(../assets/img/grid_mobile.svg);

}

.title__B {
  margin-left: -2rem;
  float: left;
  shape-outside: url(../assets/img/B.svg);
  shape-margin: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title__words {
  margin-bottom: 8rem;
  padding-top: 3rem;
}

.title__words h2{
  margin-bottom: .2rem;
}

.title__words h2 span {
  color: var(--colorMagenta);
}

.righthand__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  padding-top: 5rem;

}

.righthand__B {
  font-size: 15rem;
  margin-left: -3rem;
}

.righthand__text {
  padding-bottom: 5rem;
}

/* SHADOW */

.shadow__title--wrapper {
  display: flex;
}

.shadow__title {
  margin: 0 auto;
  min-width: 50vw;
}

/* UNCERTAINTY */

/* .uncertainty {
  background-image: url(../assets/img/Q.svg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50rem;
} */

/* .title__B {
  margin-left: -4rem;
  float: left;
  shape-outside: url(../assets/img/Q.svg);
  shape-margin: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
} */

.uncertainty {
  min-height: 80rem;
}

.uncertainty__content {
  margin-top: 10rem;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.uncertainty__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.uncertainty__text {
  margin: 0 1rem;
}
/*
.uncertainty__text p {
  margin-left: 7rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.uncertainty__text::before {
  content: '';
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: url(../assets/img/Q_left.svg);
  shape-margin: 5%;
}

.uncertainty__text p::before {
  content: '';
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: url(../assets/img/Q_right.svg);
  shape-margin: 10%;
}*/

/* HIDDEN TALENTS */

.talents__title {
  margin-top: 10rem;
  font-family: Bodoni;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.talents__text1 {
  margin-bottom: 1rem;
}

.questionmark__wrapper {
  display: flex;
}

.talents__questionmark {
  margin: 0 auto;
}

.talents__content {
  display: none;
}

/* CHARACTERISTICS */

.defines__title {
  width: 100vw;
}

.img-container {
  margin-top: 2rem;
  height: 30rem;
}

.characteristics__title {
  font-family: Bodoni;
  font-size: 2.25rem;
}

.scroller {
  min-width: 70rem;
  height: 20rem;
}

.characteristics__characteristics {
  min-width: 70rem;
  height: 20rem;
}

path {
  fill: transparent;
  transition: 1s;
  stroke: transparent;
  stroke-width: 2px;
  opacity: 1;
}

circle {
  fill: transparent;
  transition: 1s;
  stroke: transparent;
  stroke-width: 2px;
  opacity: 1;
}

rect {
  fill: transparent;
  transition: 1s;
  stroke: transparent;
  stroke-width: 2px;
  opacity: 1;
}

#one:hover {
  stroke: white;
}

#two:hover {
  fill: blue;
  stroke: yellow;
}

#three:hover {
  fill: grey;
  opacity: .5;
}

.hover1 {
  fill: black;
}

.hover2 {
  fill: black;
}

.hover3 {
  fill: black;
  display: block;
}

.hover4 {
  fill: black;
}

.hover5 {
  fill: black;
}

/* FOOTER */

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 100rem;
}

.footer__slanted {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
}

.footer__text {
  margin: 2rem;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.footer__magazine {
  background-color: white;
  color: black;
  display: flex;
}

.magazine__title {
  font-family: Ramabhadra, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.magazine__content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-right: 2rem;
}

.footer__license {
  font-family: Ramabhadra, sans-serif;
  text-align: center;
  margin: 2rem 0;
}

.footer__socials {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 375px) {

  .uncertainty__text {
    justify-content: center;
    width: 150vw;
    margin-left: -6rem;
    background-image: url(../assets/img/Q.svg);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60rem;
    position: relative;
  }

  .uncertainty__text p {
    margin-top: 5rem;
    margin-left: 8rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .uncertainty__text::before {
    margin-top: 5rem;
    content: '';
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: url(../assets/img/Q_left.svg);
    shape-margin: 5%;
  }

  .uncertainty__text p::before {
    margin-top: -2rem;
    margin-right: 4rem;
    content: '';
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: url(../assets/img/Q_right.svg);
    shape-margin: 10%;
  }

  .italy {
    background-position-y: 15rem;
  }

  .title__B {
    height: 18rem;
  }

  .title__words {
    padding-top: 5rem;
    margin-bottom: 10rem;
  }

}

@media only screen and (min-width: 400px) {

  .italy {
    background-position-y: 10rem;
  }

}

@media only screen and (min-width: 425px) {

  .uncertainty__text {
    margin-left: -4rem;
    min-height: 70rem;
    width: 130vw;
  }

  .uncertainty__text p {
    margin-top: 12rem;
    margin-left: 8rem;
  }

  .uncertainty__text::before {
    margin-top: 9rem;
  }

  .uncertainty__text p::before {
    margin-top: 0rem;
  }

  .italy__text {
    margin: 0 2rem;
  }

  .righthand__text {
    margin: 0 2rem;
  }

  .title__B {
    margin-left: -3rem;
    height: 20rem;
  }

  .title__words {
    padding-top: 5rem;
    margin-bottom: 10rem;
    font-size: 3rem;
  }

  .title__words h2 {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 500px) {

  .italy {
    background-position-y: 6rem;
  }

}


@media only screen and (min-width: 600px) {

  .italy {
    background-position-y: 4rem;
  }

  .uncertainty__text {
    margin-left: 0rem;
    min-height: 70rem;
    width: 100vw;
  }

  .uncertainty__text p {
    margin-top: 12rem;
    margin-left: 9rem;
  }

  .uncertainty__text::before {
    margin-top: 9rem;
  }

  .uncertainty__text p::before {
    margin-top: 0rem;
  }

  .title__B {
    margin-left: -3.5rem;
    height: 25rem;
  }

  .title__words {
    padding-top: 7rem;
    margin-bottom: 12rem;
    font-size: 3rem;
  }

  .defines__intro {
    margin-left: 30vw;
    margin-top: -25vw;
  }

}

@media only screen and (min-width: 700px) {

  .italy {
    background-position-y: 0rem;
  }

}

@media only screen and (min-width: 768px) {

  .italy {
    background-image: url(../assets/img/italy_background_desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: -10rem;
  }

  .italy__text {
    height: 80rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr repeat(2, 0.8fr);
    gap: 0px 20px;
    grid-template-areas:
      "italy__p1 italy__p1"
      "italy__p2 ."
      "italy__p3 italy__p3";
  }
  .italy__p1 { grid-area: italy__p1; }
  .italy__p2 { grid-area: italy__p2; }
  .italy__p3 { grid-area: italy__p3; }

  .title__B {
    margin-left: -5rem;
    height: 35rem;
    shape-margin: 30px;
  }

  .title__words {
    padding-top: 14.75rem;
    margin-bottom: 4rem;
    font-size: 5rem;
  }

  .title__words h2 {
    margin-bottom: 2rem;
  }

  .righthand {
    background-size: 175%;
  }

  .shadow__title {
    margin: 0;
    margin-left: 5vw;
  }

  .defines__title {
    width: 150vw;
    margin-left: -50%;
    transform: translateX(50%);
  }

  .defines__intro {
    margin-left: 25vw;
    margin-right: 20vw;
    margin-top: -15vw;
  }

}

@media only screen and (min-width: 900px) {

  .italy__p1 {
    margin-bottom: 0;
  }

  .italy__text {
    height: 65rem;
    grid-template-columns: 1.1fr .9fr;
    grid-template-rows: .6fr 1.8fr .6fr;
    grid-template-areas:
      "italy__p1 italy__p1"
      ". italy__p2"
      "italy__p3 .";
  }

}

@media only screen and (min-width: 1024px) {

  .italy__text {
    height: 70rem;
  }

  :--content {
    margin: 0 5rem;
  }

  .unthinkable {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10rem;
  }

  .reveal__wrapper {
    margin: 3rem;
    margin-top: 8rem;
  }

  .title__B {
    margin-left: -6rem;
    height: 45rem;
    shape-margin: 30px;
  }

  .righthand__text {
    text-align: right;
    margin-right: 7rem;
  }

  .title__words {
    padding-top: 14.75rem;
    margin-bottom: 4rem;
    font-size: 5rem;
  }

  .title__words h2 {
    margin-bottom: 2.25rem;
  }

}

@media only screen and (min-width: 1200px) {

  .italy__text {
    grid-template-areas:
      "italy__p1 italy__p1"
      ". italy__p2"
      "italy__p3 italy__p3";
  }

  .tragedy__title--span {
    display: none;
  }

  .title__words {
    padding-top: 14.75rem;
    margin-bottom: 6rem;
    font-size: 5rem;
  }

  .righthand__text {
    margin-right: 12rem;
  }

  .righthand {
    background-size: 220%;
  }

  .defines__title {
    width: 100vw;
    margin-left: 0%;
    transform: translateX(0%);
  }

  .defines__intro {
    margin-left: 35vw;
    margin-right: 30vw;
    margin-top: -10vw;
  }

}

@media only screen and (min-width: 1400px) {

  .italy__text {
    display: flex;
    flex-direction: column;
  }

  .italy__content {
    margin-left: 40rem;
  }

  .italy__p2 {
    margin-left: -5rem;
  }

  .italy__p3 {
    margin-left: 5rem;
  }

  .tragedy__title--span {
    display: none;
  }

  .title__B {
    margin-left: -10rem;
    height: 80rem;
    shape-margin: 40px;
  }

  .righthand__text {
    text-align: right;
    margin-right: 7rem;
  }

  .title__words {
    padding-top: 35rem;
    margin-bottom: 4rem;
    font-size: 8rem;
  }

  .title__words h2 {
    margin-bottom: 5rem;
  }

}
