@import './reset.css';
@import './vars.css';
@import './planner.css';

@font-face {
  font-family: Bodoni;
  src: url(../assets/fonts/BodoniFLF-Roman.woff2) format('woff2');
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: Ramabhadra;
  src: url(../assets/fonts/Ramabhadra-Regular.woff2) format('woff2');
}

@custom-selector :--content .tragedy__title, .tragedy__text, .unthinkable__title, .unthinkable__text, .shadow__text, .italy__title, .italy__text, .righthand__text, .uncertainty__content, .talents__title, .talents__text1, .talents__text2, .footer__text;

:--content {
  margin: 0 1rem;
}

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/* NAV */

.header__nav {

  background-color: black;
}

/* main */

.main {

}
