@import './reset.css';
@import './vars.css';

@font-face {
  font-family: Bodoni;
  src: url(../assets/fonts/BodoniFLF-Roman.woff2) format('woff2');
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: Ramabhadra;
  src: url(../assets/fonts/Ramabhadra-Regular.woff2) format('woff2');
}

@custom-selector :--content .tragedy__title, .tragedy__text, .unthinkable__title, .unthinkable__text, .shadow__text, .italy__title, .italy__text, .righthand__text, .uncertainty__content, .talents__title, .talents__text1, .talents__text2, .footer__text;

:--content {
  margin: 0 1rem;
}

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/* NAV */

.header__nav {

  background-color: black;
}

/* main */

.main {

}

/* INTRO */

.intro__img {
  width: 100%;
}

/* TRAGEDY */

.tragedy__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.tragedy__title span {
  color: var(--colorMagenta);
}

.tragedy__text {
  margin-bottom: 2rem;
}

.tragedy__text span {
  color: var(--colorMagenta);
}

/* UNTHINKABLE */

.reveal__wrapper {
  display: flex;
  justify-content: center;
}

.unthinkable__reveal {
  height: 672px;
  position: relative;
  width: 262px;
}

.unthinkable__reveal img {
  position: absolute;
  height: 25rem;
display: block;
}

.unthinkable__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.unthinkable__title span {
  color: var(--colorMagenta);
}

/* ITALY */

.black {
  background-color: black;
  color: white;
  padding-top: 2rem;
  margin-top: 2rem;
}

.italy {
  background-image: url(../assets/img/italy_background.png);
  background-repeat: no-repeat;

}

.italy__title {
  font-family: Bodoni;
  font-size: 2.25rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.italy__title span {
  color: var(--colorMagenta);
}

/* RIGHT HAND */

.title__B {
  margin-left: -4rem;
  float: left;
  shape-outside: url(../assets/img/B.svg);
  shape-margin: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title__words {
  margin: 5rem 0 10rem;
}

.righthand__title {
  font-family: Bodoni;
  font-size: 2.25rem;
}

.righthand__B {
  font-size: 15rem;
  margin-left: -3rem;
}

/* SHADOW */

.shadow__title--wrapper {
  display: flex;
}

.shadow__title {
  margin: 0 auto;
  max-width: 100%;
}

/* UNCERTAINTY */

/* .uncertainty {
  background-image: url(../assets/img/Q.svg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50rem;
} */

/* .title__B {
  margin-left: -4rem;
  float: left;
  shape-outside: url(../assets/img/Q.svg);
  shape-margin: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
} */

.uncertainty {
  display: none;
}

.uncertainty__content {
  margin-top: 10rem;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.uncertainty__title {
  font-family: Bodoni;
  font-size: 2.25rem;
}

.uncertainty__text {
  justify-content: center;
  width: 200%;
  height: 200%;
  background-image: url(../assets/img/Q.svg);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50rem;
  position: relative;
  margin: 0;
  color: black;
}

.uncertainty__text p {
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}


.uncertainty__text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: url(../assets/img/Q_left.svg);
  shape-margin: 5%;
}

.uncertainty__text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: url(../assets/img/Q_right.svg);
  shape-margin: 10%;
}

/* HIDDEN TALENTS */

.talents__title {
  margin-top: 10rem;
  font-family: Bodoni;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.talents__text1 {
  margin-bottom: 1rem;
}

.questionmark__wrapper {
  display: flex;
}

.talents__questionmark {
  margin: 0 auto;
}

.img-container {
  margin-top: 2rem;
  height: 30rem;
}

/* CHARACTERISTICS */

.characteristics__title {
  font-family: Bodoni;
  font-size: 2.25rem;
}

/* FOOTER */

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__slanted {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
}

.footer__text {
  margin: 2rem;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.footer__magazine {
  background-color: white;
  color: black;
  display: flex;
}

.magazine__title {
  font-family: Ramabhadra, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.magazine__content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-right: 2rem;
}

.footer__license {
  font-family: Ramabhadra, sans-serif;
  text-align: center;
  margin: 2rem 0;
}

.footer__socials {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 670px) {
  .tragedy__title--span {
    display: none;
  }
}
